/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-01-26, 22:00:18
    Author     : Radosław
*/

table.tabela_administracja {
    border-style: double;
}

table.tabela_administracja td, table.tabela_administracja th {
    border-style: double;
}