/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-01-24, 21:33:42
    Author     : Radosław
*/
table.tabela_logowanie{
    text-align: right;
}

table.tabela_logowanie td{
    padding-top: 5px;
}
