/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-01-24, 14:12:35
    Author     : Radosław
*/
H1{
    color:black;
    font-family: sans-serif;
    text-align: center;
    border-style: ridge;
    border-radius: 20px;
    border-color: cornflowerblue;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 50%;
    
}

table.table_menu{
    border: none;
    width: 25%;
}

table.table_menu td{
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
    background-color: lightsteelblue;
    padding-top: 3px;
    padding-bottom: 3px;
}

table.table_menu td:hover {
    background-color:cornflowerblue; 
}
a:hover, a:link, a:visited, a:active{
    text-decoration: none;
}