/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-01-28, 22:01:19
    Author     : Radosław
*/

table.tabela_notatki{
    border-style: double;
    width: 50%;
    border-radius: 5px;
    border-width: 1px;
}
table.tabela_notatki td{
    border-style: dotted; 
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
}

table.tabela_notatki th{
    border-style: double;
    background-color: lightsteelblue;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
}