/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-01-28, 22:14:26
    Author     : Radosław
*/

table.wyswietlona_notatka{
    border-style: double;
    width: 50%;
    border-radius: 5px;
    border-width: 1px;
    font-family: sans-serif;
}